# Ignorar logs e arquivos de sistema
*.log
.DS_Store
Thumbs.db

# Ignorar arquivos do Visual Studio e Rider
.vs/
.idea/
*.sln

# Ignorar arquivos de build e dependências do Backend .NET
API/Streamer/bin/
API/Streamer/obj/

# Ignorar arquivos de build e dependências do Frontend Next.js
# --- CAMINHOS CORRIGIDOS PARA A SUA ESTRUTURA ---
/FRONT/front/node_modules/
/FRONT/front/.next/
/FRONT/front/out/
/FRONT/front/.env.local

# Ignorar arquivos de cache do npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*